<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Root page</title>
</head>
<body>

    <h1>{{ name }}</h1><br>

    <p>{{ age }}</p>

    <p> <b> {{ major }} </b> </p>
<!--    <form action="/action_page.php">-->
<!--      <label for="fname">First name:</label>-->
<!--      <input type="text" id="fname" name="fname"><br><br>-->
<!--      <label for="lname">Last name:</label>-->
<!--      <input type="text" id="lname" name="lname"><br><br>-->
<!--      <input type="submit" value="Submit">-->
<!--    </form>-->

</body>
</html>